<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <file>tests/BidRuleUnitTest.php</file>
      <file>tests/CategoryUnitTest.php</file>
      <file>tests/PaymentRuleUnitTest.php</file>
      <file>tests/BidHandlerUnitTest.php</file>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="1"/>
    <env name="TEST_DB_HOST" value="localhost"/>
    <env name="TEST_DB_USER" value="root"/>
    <env name="TEST_DB_PASSWORD" value=""/>
    <env name="TEST_DB_NAME" value="dau_gia"/>
  </php>
</phpunit>
